/* fonts for poppins  paragraph 
font-family: 'Poppins',
sans-serif;
*/


/* fonts for button 
font-family: 'Poppins',
sans-serif;
*/

/* font for headings 
font-family: 'Italiana',
serif;
*/
:root{
    --background-color:rgba(215, 225, 225, 1);
    --footer-color: rgba(177, 220, 220, 1);
    --button: rgb(0 50 50 / 63%);
    --section-color: rgba(245, 245, 245, 1);
}

body {
    background-color: var(--background-color);
}

P{
    font-family: 'Poppins',sans-serif;
}

h1 , h2 , h3 , h4 {
    font-family: 'Italiana',
            serif;
}

button{
font-family: 'Poppins',sans-serif;
font-weight:bold;
box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
background-color: var(--button);
padding:10px;
border-radius:20px;
}



.logo{
    max-width:50px;}

  .footer {
      background-color: var(--footer-color);
      color: #fff;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
  }

  .socials {
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .social-icon{
    margin-right:40px;
  }

  .button-link{
    text-decoration: none;
    color:black;
  }

  .weatherapp{
    max-width: 80%;
    height:auto;
    border-radius: 6px;
  }

  .project-description{
    font-size:15px;
  }

 .introduction{
  text-align:center
 }

 .button{
  text-align:center;
 }

 @media (max-width: 576px) {
 
  .footer{ 
    padding:8px;
  }
 }