:root{
    --button-color:pink;
    --primary-color: rgb(165, 85, 99);
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    --header-color: palevioletred;
}



p {
    background: var(--button-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


h1,h2,h3{
    text-align: center;
    margin:0;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color:rgb(165, 85, 99);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.project-title{
    background-color:rgb(204, 120, 134);
    color:white;
    padding:10px
}


.description{
    color: #4C4C4C;
    text-align:center;

}



.header{
    background-color: var(--header-color);
    margin-bottom:20px
}

h1.heading2{
    font-size:96px;
}

.about-paragraphs {
    display:flex;
    margin: 30px 0;
}
.about-paragraphs p {
    margin: 10px;
}

.avatar{
    border-radius:50%;
    margin-left:10px;
    max-width:100px;
    width:100%;
    height:auto
}


.alias{
    text-align:center;
    font-weight:100px;
    background-color: var(--header-color);
}

.return{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

.greetings{
    text-align:center;
    padding-bottom:20px;

   
}



.about-paragraphs{
    margin:10px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.button{
background: var(--button-color);
box-shadow: var(--box-shadow);
color: white;
border: 1px solid var(--button-color);
margin: 20px;
border-radius: 4px;
padding: 15px 15px;
text-decoration: none;
text-transform: uppercase;
display:flex;
justify-content:center;
border-radius: 12px;
}

@media (max-width: 1200px) {
    .avatar {
        margin: 0 auto;
        display: block;
    }

   
}



 .skills{
    margin-top: 80px
 }

 .footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color:pink;
    text-align:center;
 }

 .footer i {
    display:inline-block;
    font-size: 24px;
    margin: 0 10px;
 }

 .skills {
    display:flex;
    justify-content:space-around;
 }

 .icon{
    margin:0 10px;
    font-size: 10px;
 }

 @media(max-width:574px){
    .icon{
        font-size: 8px;
    }
 }

 .greeting{
    padding:5px;
    margin:3rem;
 }
