:root{
    --button-color:pink;
    --primary-color: rgb(165, 85, 99);
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    --header-color: palevioletred;
}

body{
font-family: 'IBM Plex Mono', monospace;
    font-family: 'Montserrat', sans-serif;
}

p {
    background: var(--button-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}


h1,h2,h3{
    text-align: center;
    margin:0;
}


.description{
    color: #4C4C4C;
    text-align:center;

}



.header{
    background-color: var(--header-color);
    margin-bottom:20px
}

h1.heading2{
    font-size:96px;
}

.about-paragraphs {
    display:flex;
    margin: 30px 0;
}
.about-paragraphs p {
    margin: 10px;
}



.alias{
    text-align:center;
    font-weight:100px;
    background-color: var(--header-color);
}

.return{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

.greetings{
    text-align:center;
    padding-bottom:20px;
}

.navigation-links a{
    margin: 20px;
    border-radius: 4px;
    padding: 15px 15px;
    text-decoration:none;
    text-transform:capitalize
}

.navigation-links{
        display: flex;
        margin-top: 40px;
        justify-content: center;
    }

.contact-link{
    background: var(--button-color);
    box-shadow: var(--box-shadow);
    color:white;
    border: 1px solid var(--button-color);
}

.about-link{
    background: var(--button-color);
        box-shadow: var(--box-shadow);
        color: white;
        border: 1px solid var(--button-color);
}

.about-paragraphs{
    margin:10px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

